<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <div class="Image">
              <img class="ImageFooter" src="../../../assets/Images/Curtipieles S.A.S. Cafe.png" alt="">
          </div>
          <div class="cpRight footer-copyright text-center py-3">© 2020 Copyright: Curtipieles S.A.S - Todos los derechos reservados al autor.

        </div>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase UbicanosS"> <i class="fas fa-map-marker-alt"></i> Ubicanos</h5>
  
          <ul class="list-unstyled">
            <li>
              <a class="UbicanosEnlace" href="https://www.google.com/maps/place/Curtipieles+S.a.s/@3.6869145,-76.3286395,15z/data=!4m5!3m4!1s0x8e39f90651f24623:0x5e9837bc887fbfc3!8m2!3d3.685073!4d-76.3207072">Cl. 8 #20-15, El Cerrito, Valle del Cauca</a>
            </li>
            <p class="CorreoEmpresa">CurtipielesSas19@gmail.com</p>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase PoliticasS"> <i class="fas fa-shield-alt"></i> Politicas</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="PoliticasManejo" >Politica de calidad y de medio ambiente</a>
            </li>
            <li class="LiPoliticas">
              <a href="#!" class="PoliticasManejo">Politica de manejo de datos personales</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->

  
  </footer>
  <!-- Footer -->