.ImageFooter{
    font-size: 1em;
    width: 7em;
}

.Image{
    text-align: center;
}

.UbicanosEnlace{
    color: #4E2602 ;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.CorreoEmpresa{
    margin-top: 0.9em;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.UbicanosS, .PoliticasS{
    margin-bottom: 0.8em;
    font-family: 'Fjalla One', sans-serif;
    color: #4E2602 ;
}

.PoliticasManejo{
    color: #4E2602 ;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.LiPoliticas{
    margin-top: 0.9em;
}

.cpRight{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
