<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand NavBarTittle" href="#">CURTIPIELES S.A.S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link NavBarTittles" href="nav">INICIO <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link NavBarTittles" id="NavBarTittles" href="#">PRODUCTOS</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle NavBarTittles" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            NOSOTROS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item NavBarTittles" href="#">HISTORIA</a>
            <a class="dropdown-item NavBarTittles" href="#">POLITICAS</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link NavBarTittles" href="#">CONTACTANOS</a>
          </li>

      </ul>
    </div>
  </nav>