.NavBarTittle{
    font-weight: 600;
    color: #4E2602;
    FONT-SIZE: 2em;
    font-family: 'Fjalla One', sans-serif;
    margin-right: 2em;
    
}

.NavBarTittles{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #4E2602 !important;
    font-weight: 600 !important;
    font-size: 1.4em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

@media only screen and (max-width: 366px) {
    .NavBarTittle {
      margin-right: 0em;
    }
  }